<%- include('header') -%>
</head>


    <body>
        <div class="central">
            <h1>this is the admin panel</h1>
        </div>
    </body>
    <div id="logoutbutton">
        <p><a href='/thankyou'>Logout</a></p>
    </div>
</html>