<%- include('header') -%>
</head>


    <body>
        <div class="centralcentral">
            <h1>Please sign up with a new account and log in using that</h1>
            <p><a href="/">Login page is here</a></p>
        </div>

    </body>
</html>