<%- include('header') -%>
</head>


    <body>

        <div id="thanyoubox" class="centralcentral">
            <h1>Thank you for visiting Stream Party</h1>
            <p>To join back in click <a href="/">here</a></p>
        </div>
    </body>
</html>