@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* *, *:before, *:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
body {
    background-color: azure;
    min-height: 100vh;
}



.login-box {
    position: relative;
    /* 
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); */

    margin: 10px auto;
    width: 500px;
    height: 380px;
    background-color: #fff;
    padding: 50px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);



}

.lb-header {
    position: relative;
    color: #00415d;
    margin: 5px 5px 10px 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    text-align: center;
    height: 28px;
}

.lb-header a {
    margin: 0 25px;
    padding: 0 20px;
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    /* -webkit-transition: all 0.1s linear; */
    /* -moz-transition: all 0.1s linear;
    transition: all 0.1s linear; */
}

.lb-header .active {
    color: #029f5b;
    font-size: 18px;
}

.social-login {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid #eee;
}

.social-login a {
    position: relative;
    float: left;
    width: calc(40% - 8px);
    text-decoration: none;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 12px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0 3%;
    text-align: center;
}

.social-login a i {
    position: relative;
    float: left;
    width: 20px;
    top: 2px;
}

.social-login a:first-child {
    background-color: #49639F;
}

.social-login a:last-child {
    background-color: #DF4A32;
}

.email-signup,
.email-login {
    position: relative;
    float: left;
    width: 100%;
    height: auto;
    margin-top: 20px;
    text-align: center;
}

.u-form-group {
    width: 100%;
    margin-bottom: 10px;
}

.u-form-group input[type="email"],
.u-form-group input[type="password"] {
    width: calc(50% - 22px);
    height: 45px;
    outline: none;
    border: 1px solid #ddd;
    padding: 0 10px;
    border-radius: 2px;
    color: #333;
    font-size: 0.8rem;
    /* -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear; */
}

.u-form-group input:focus {
    border-color: #358efb;
}

.u-form-group button {
    width: 50%;
    background-color: #1CB94E;
    border: none;
    outline: none;
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    padding: 14px 0;
    border-radius: 2px;
    text-transform: uppercase;
}

.forgot-password {
    width: 50%;
    text-align: left;
    text-decoration: underline;
    color: #888;
    font-size: 0.75rem;
}




/* chatbox BELOW */
.chatBoxHeader {
    border-bottom: 2px solid black;
}

.chatBox {
    border: 2px solid black;
    max-width: 18rem;
    min-width: 15rem;

    position: fixed;
    bottom: 0px;
    right: 5px;

    font-family: 'Courier New', Courier, monospace;
}

.chatBoxClose {
    float: right;
    padding-right: 1rem;
}

.chatBoxBody {
    height: 8rem;
    overflow-y: scroll;
}

.chatInput {
    border-top: 2px solid black;
    /* padding: 2px 0 2px; */
}

#chatLogs {
    display: flex;
    flex-direction: column;
}

.chatMsgMe {
    text-align: right;
    border-bottom: 2px solid black;
}

.chatMsgOther {
    text-align: left;
    border-bottom: 2px solid black;
}

.chatMsgLeave {
    text-align: left;
    border-bottom: 2px solid black;
}

/* -------------Utils------------------ */
#thankyoubox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.centralcentral {
    position: absolute;

    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centreHead {
    text-align: center;
}

#logoutbutton {
    position: absolute;
    top: 0;
    right: 0;
    padding-top: 5px;
    padding-right: 15px;
    font-size: large;
}

#logoutbutton a {
    color: inherit;
}

iframe {
    max-width: 800px;
    max-height: 450px;
}